.headerBottom
    height 64px
    background-color #333745
.headerBottomWrap
    max-width 1150px
    margin 0 auto
    height 64px
    box horizontal middle space-between
.headerCatalog
    flex 0 1 auto
    box horizontal middle
    margin-right 40px
    &Icon
        display block
        margin-right 13px
        size 19px 15px
        background-position top center
        background-repeat no-repeat
        background-image inline('icon-catalog.png')
    &Text
        color #fff
        font-family "PT Sans"
        font-size 16px
        font-weight 700
        line-height 18px
        text-transform uppercase

.headerSearch
    flex 2 2 auto
    position relative
    margin-right 25px
.headerSearchInput
    width 100%
    background-color #f1f1f1
    border 0
    outline 0
    height 50px
    color #777
    font-family "PT Sans"
    font-size 16px
    font-weight 400
    line-height 18px
    padding 0 20px
    transition all .3s
    &:focus
        background-color #fff
.headerSearchButton
    display block
    position absolute
    size 20px
    right 20px
    border 0
    outline 0
    background-position top center
    background-repeat no-repeat
    background-image inline('icon-search.png')
    background-color transparent
    top center
    cursor pointer
.headerAccount
    flex 0 1 auto
    margin-right 40px
    box horizontal middle
    text-decoration none
    &Icon
        display block
        margin-right 14px
        size 25px
        background-position center center
        background-repeat no-repeat
        background-image inline('icon-account.png')
    &Text
        box vertical middle
        span
            color #fff
            font-family "PT Sans"
            font-size 20px
            font-weight 700
            line-height 18px
            text-transform uppercase
        em
            color #fff
            font-family "PT Sans"
            font-size 12px
            font-weight 400
            font-style normal
            line-height 18px

.headerCart
    flex 0 1 auto
    margin-right 10px
    box horizontal middle
    text-decoration none
    &Icon
        display block
        position relative
        margin-right 14px
        size 28px
        background-position center center
        background-repeat no-repeat
        background-image inline('icon-cart.png')
    &IconBadge
        display block
        position absolute
        top -5px
        right -5px
        size 15px
        border-radius 50%
        background-color #ea2e49
        &Text
            left center
            top center
            color #fff
            font-family "PT Sans"
            font-size 10px
            font-weight 400
            line-height 10px

    &Text
        box vertical middle
        span
            color #fff
            font-family "PT Sans"
            font-size 20px
            font-weight 700
            line-height 18px
            text-transform uppercase
        em
            color #fff
            font-family "PT Sans"
            font-size 12px
            font-weight 400
            font-style normal
            line-height 18px
