.header
    flex 0 1 auto
    height 128px
    box-shadow 0 0 4px rgba(0, 0, 0, .15)
.headerTop
    display block
    height 64px
    box horizontal middle space-between
    max-width 1150px
    margin 0 auto
.headerLeft
    box horizontal middle
.headerLogo
    flex 1 1 auto
    margin-right 38px
    padding-top 3px
.headerLocation
    flex 0 1 auto
    box horizontal middle
    span
        color #555
        font-family "PT Sans"
        font-size 14px
        font-weight 400
        line-height 28px
        margin-right 5px


.headerRight
    box horizontal middle right
.headerMenu
    flex 0 1 auto
.headerMenuItems
    box horizontal middle
    height 64px
    border-top 4px solid transparent
.headerMenuItem
    height 64px
    box vertical middle
    position relative
    margin-right 30px
    &:after
        opacity 0
        visibility hidden
        content ''
        top -2px
        left 0
        width 100%
        height 4px
        background-color #8bc8ef
        position absolute
        transition all .3s
    a
        color #555
        font-family "PT Sans"
        font-size 14px
        font-weight 400
        line-height 18px
        text-transform uppercase
        text-decoration none
    &Active,
    &:hover
        &:after
            opacity 1
            visibility visible
            //border-top 4px solid #8bc8ef
.headerContact
    box horizontal middle
    &Icon
        display block
        size 29px
        margin-right 10px
        background-position center center
        background-size cover
        background-repeat no-repeat
        background-image inline('icon-phone.png')
    &Text
        box vertical
        span
            color #222
            font-family "PT Sans"
            font-size 20px
            font-weight 400
            line-height 18px
        em
            color #555
            font-family "PT Sans"
            font-size 10px
            font-weight 400
            font-style normal
            line-height 10px
            letter-spacing 0.02em
