.label
    display block
    color #6c6c6a
    font-family "PT Sans"
    font-size 16px
    font-weight 400
    line-height 28px

.labelCheckbox
    display block
    box horizontal middle
    margin-right 14px
    color #6c6c6a
    font-size 14px
    font-weight 400
    span
        flex 0 1 auto
    input
        margin-right 5px

.labelCheckboxItalic
    @extend .labelCheckbox
    font-style italic
