.breadcrumbs
    display block
    box horizontal middle
    margin-bottom 40px
.breadcrumb
    flex 0 1 auto
    font-family "PT Sans"
    font-size 12px
    font-weight 400
    line-height 30px
    color #777
    a
        color #777
        text-decoration none
        transition all .3s
        &:hover
            text-decoration underline
    &:after
        content '›'
        padding 0 5px
    &:last-child
        color #8bc8ef
        &:after
            content ''
