<div style="height: 0; width: 0; position: absolute; visibility: hidden">
  <!-- inject:svg --><svg xmlns="http://www.w3.org/2000/svg"><symbol id="icon-phone" viewBox="0 0 14 13"><title>_</title><path d="M13.2 10.21c0-.07-.01-.13-.03-.19-.19-.23-.43-.39-.71-.49-.54-.29-1.08-.58-1.6-.88-.24-.21-.53-.35-.84-.42-.57 0-1.4 1.66-1.91 1.66a2.19 2.19 0 0 1-.81-.36 9.23 9.23 0 0 1-3.83-3.75c-.18-.24-.31-.51-.37-.79 0-.49 1.7-1.32 1.7-1.88-.07-.3-.22-.58-.43-.81-.31-.52-.6-1.04-.9-1.57-.1-.27-.27-.51-.5-.7A.628.628 0 0 0 2.78 0c-.45.03-.89.12-1.31.29C1.03.55.68.94.48 1.4.17 1.92.01 2.51 0 3.11c.07.84.29 1.65.65 2.41.2.56.46 1.1.77 1.61 1.18 1.75 2.71 3.25 4.5 4.4.52.31 1.07.57 1.65.77.77.35 1.6.56 2.45.62.61 0 1.21-.16 1.75-.46.47-.2.87-.54 1.14-.98.17-.4.26-.83.29-1.27z" fill="#f0c827"/></symbol></svg><!-- endinject -->
</div>
