// @import './../../stylusMixin/libs'
// normalize()
@reset-global pc
@lost flexbox flex

*
    box-sizing border-box
    -webkit-font-smoothing antialiased
    -webkit-overflow-scrolling none

a:focus
    outline 0

html
    height 100%
    min-width 320px

body
    position relative
    min-height 100%
    box vertical

.main
    flex 2 2 auto
    max-width 1170px
    width 100%
    margin 0 auto
    padding 40px 0
