/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template, /* 1 */
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Correct color not being inherited.
      Known issue: affects color of disabled elements.
 * 2. Change font properties to `inherit` in all browsers (opinionated).
 * 3. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  vertical-align: middle;
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
  resize: none;
  vertical-align: top;
}
/* webkit focus outline */
input,
select,
textarea {
  outline: 0;
}
/* Re-set default cursor for disabled elements. */
[disabled] {
  cursor: default;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, ff, and Safari.
 */
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.54;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* table
   ========================================================================== */
/* Remove table cell spacing and padding */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}
ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}
ul, ol {
  list-style: none outside none;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: none;
}
a:focus {
  outline: 0;
}
html {
  height: 100%;
  min-width: 320px;
}
body {
  position: relative;
  min-height: 100%;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main {
  -webkit-box-flex: 2;
      -ms-flex: 2 2 auto;
          flex: 2 2 auto;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}

.topString {
  display: block;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumbs {
  display: block;
  margin-bottom: 40px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  color: #777;
}
.breadcrumb a {
  color: #777;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.breadcrumb:after {
  content: '›';
  padding: 0 5px;
}
.breadcrumb:last-child {
  color: #8bc8ef;
}
.breadcrumb:last-child:after {
  content: '';
}

.buttonBlue {
  display: inline-block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 0;
  outline: 0;
  height: 38px;
  padding: 0 40px;
  background-color: #8bc8ef;
  border-radius: 5px;
  color: #fff;
  font-family: "PT Sans";
  font-size: 18px;
  font-style: italic;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.buttonBlue:hover {
  background-color: #49a8e6;
}
.buttonOutline {
  display: inline-block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 34px;
  border: 1px solid #f1f1f1;
  outline: 0;
  background-color: transparent;
  padding: 0 13px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.buttonOutlineText {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  color: #6c6c6a;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 3px;
}
.buttonOutlineIcon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-right: 6px;
}
.buttonOutlineIconPlus {
  width: 18px;
  height: 18px;
  border: 1px solid #6c6c6a;
  border-radius: 50%;
  position: relative;
}
.buttonOutlineIconPlus:before {
  content: '';
  background-color: #6c6c6a;
  width: 1px;
  height: 9px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
}
.buttonOutlineIconPlus:after {
  content: '';
  background-color: #6c6c6a;
  width: 9px;
  height: 1px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
}
.buttonDottedItalic {
  display: inline-block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 0;
  outline: 0;
  border-bottom: 1px dotted #333;
  background-color: transparent;
  white-space: nowrap;
  padding: 0;
  color: #333;
  font-family: "PT Serif";
  font-size: 14px;
  font-style: italic;
  line-height: 12px;
}
.buttonDotted {
  display: inline-block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 0;
  outline: 0;
  border-bottom: 1px dotted #333;
  background-color: transparent;
  white-space: nowrap;
  padding: 0;
  color: #333;
  font-family: "PT Serif";
  font-size: 14px;
  line-height: 12px;
}
.buttonLocation {
  display: inline-block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  white-space: nowrap;
  padding: 0;
  color: #555;
  font-family: "PT Sans";
  font-size: 14px;
}
.buttonLocation:after {
  content: '';
  position: absolute;
  bottom: 2px;
  width: calc(100% - 1px);
  height: 1px;
  left: 1px;
  border-bottom: 1px dotted #333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.buttonLocation:hover:after {
  width: 0;
}

.inputFill {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0 12px;
  border: 0;
  outline: 0;
  width: 280px;
  height: 40px;
  background-color: #f4f4f4;
  border: 1px solid #f1f1f1;
  color: #6c6c6a;
}
.inputFillSmall {
  width: 110px;
}
.input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 100%;
  padding: 0 12px;
  border: 0;
  outline: 0;
  height: 40px;
  background-color: transparent;
  color: #6c6c6a;
  border: 1px solid #f1f1f1;
}

.label {
  display: block;
  color: #6c6c6a;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.labelCheckbox,
.labelCheckboxItalic {
  display: block;
  margin-right: 14px;
  color: #6c6c6a;
  font-size: 14px;
  font-weight: 400;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.labelCheckbox span,
.labelCheckboxItalic span {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.labelCheckbox input,
.labelCheckboxItalic input {
  margin-right: 5px;
}
.labelCheckboxItalic {
  font-style: italic;
}

.selectFill {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0 12px;
  border: 0;
  outline: 0;
  width: 280px;
  height: 40px;
  background-color: #f4f4f4;
  border: 1px solid #f1f1f1;
}
.selectFillSmall {
  width: 110px;
}

.accountBonus {
  display: block;
  border: 1px solid #f1f1f1;
  padding: 20px;
}
.accountBonusHeader {
  display: block;
  margin-bottom: 20px;
}
.accountBonusHeader h1 {
  color: #6c6c6a;
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}
.accountBonusTotal {
  display: block;
  margin-bottom: 5px;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
  color: #6c6c6a;
}
.accountBonusCode {
  display: block;
  margin-bottom: 40px;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
  color: #8bc8ef;
}
.accountBonusHistory {
  display: block;
}
.accountBonusHistoryHeader {
  display: block;
  margin-bottom: 20px;
}
.accountBonusHistoryHeader h2 {
  color: #6c6c6a;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.accountBonusHistoryFilter {
  display: block;
  margin-bottom: 40px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.accountBonusHistoryTable {
  width: 100%;
}
.accountBonusHistoryTableColumn {
  color: #6c6c6a;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.accountForm {
  display: block;
  border: 1px solid #f1f1f1;
  padding: 20px;
}
.accountFormBlock {
  display: block;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 30px;
  padding-bottom: 3px;
}
.accountFormBlock:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
.accountFormRow {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.accountFormHorizontal {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.accountFormHorizontal .accountFormItem {
  margin-right: 30px;
}
.accountFormHalf {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
}
.accountFormHalf:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0;
}
.accountFormHalf:last-child {
  margin-right: 0;
}
.accountFormHalf:nth-child(2n) {
  margin-right: 0;
  margin-left: auto;
}
.accountFormItem {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-bottom: 17px;
}
.accountFormItemLink {
  position: relative;
  color: #8bc8ef;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-left: 13px;
  text-decoration: none;
}
.accountFormItemLink:after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 1px dotted #8bc8ef;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.accountFormItemLink:hover:after {
  opacity: 0;
}
.accountFormItemText {
  display: block;
  margin-bottom: 14px;
  color: #6c6c6a;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
}

.accountHistory {
  display: block;
}
.accountHistoryText {
  display: block;
  background-color: #f1f1f1;
  padding: 13px;
  margin-bottom: 15px;
}
.accountHistoryText p {
  color: #333;
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.accountHistoryHeader {
  display: block;
  margin-bottom: 20px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.accountHistoryHeader h2 {
  margin-right: 20px;
  color: #6c6c6a;
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}
.accountHistoryTable {
  width: 100%;
}
.accountHistoryTableHeader td {
  color: #333;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  font-weight: 700;
  white-space: nowrap;
  padding: 0 10px 10px 0;
}
.accountHistoryTableBody td {
  vertical-align: top;
  color: #333;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  padding: 0 10px 10px 0;
}
.accountHistoryTableNoWrap {
  white-space: nowrap;
}

.account {
  display: block;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.accountSidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(99.9% * 3/12 - (30px - 30px * 3/12));
}
.accountSidebar:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0;
}
.accountSidebar:last-child {
  margin-right: 0;
}
.accountSidebar:nth-child(12n) {
  margin-right: 0;
  margin-left: auto;
}
.accountContent {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(99.9% * 9/12 - (30px - 30px * 9/12));
}
.accountContent:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0;
}
.accountContent:last-child {
  margin-right: 0;
}
.accountContent:nth-child(12n) {
  margin-right: 0;
  margin-left: auto;
}

.accountPartner {
  display: block;
}
.accountPartnerSearch {
  display: block;
  margin-bottom: 13px;
}
.accountPartnerSearch input {
  margin-right: 13px;
  width: 280px;
}
.accountPartnerFormAdd {
  display: block;
  border: 1px solid #f1f1f1;
  padding: 20px;
}
.accountPartnerFormHeader {
  display: block;
  margin-bottom: 15px;
}
.accountPartnerFormHeader h2 {
  color: #6c6c6a;
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}
.accountPartnerFormHeader h3 {
  color: #6c6c6a;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.accountPartnerFormBlock {
  display: block;
  margin-bottom: 25px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.accountPartnerFormHalf {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
}
.accountPartnerFormHalf:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0;
}
.accountPartnerFormHalf:last-child {
  margin-right: 0;
}
.accountPartnerFormHalf:nth-child(2n) {
  margin-right: 0;
  margin-left: auto;
}
.accountPartnerFormItem {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 100%;
  margin-bottom: 10px;
}
.accountPartnerFormThridItems {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 100%;
  margin-bottom: 10px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.accountPartnerFormThridItems .accountPartnerFormItem {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(99.9% * 1/3 - (30px - 30px * 1/3));
}
.accountPartnerFormThridItems .accountPartnerFormItem:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0;
}
.accountPartnerFormThridItems .accountPartnerFormItem:last-child {
  margin-right: 0;
}
.accountPartnerFormThridItems .accountPartnerFormItem:nth-child(3n) {
  margin-right: 0;
  margin-left: auto;
}

.accountMenu {
  display: block;
  border: 1px solid #f1f1f1;
  border-bottom: 0;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.accountMenuItem {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.accountMenuItem a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  padding: 20px 15px;
  text-decoration: none;
  border-bottom: 1px solid #f1f1f1;
  color: #333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accountMenuItemActive a,
.accountMenuItem:hover a {
  background-color: #8bc8ef;
  color: #fff;
}

.currency {
  display: block;
  color: #777;
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.currencyName {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 120px;
}

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  height: 128px;
  box-shadow: 0 0 4px rgba(0,0,0,0.15);
}
.headerTop {
  display: block;
  height: 64px;
  max-width: 1150px;
  margin: 0 auto;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.headerLeft {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerLogo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 38px;
  padding-top: 3px;
}
.headerLocation {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerLocation span {
  color: #555;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-right: 5px;
}
.headerRight {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.headerMenu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.headerMenuItems {
  height: 64px;
  border-top: 4px solid transparent;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerMenuItem {
  height: 64px;
  position: relative;
  margin-right: 30px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.headerMenuItem:after {
  opacity: 0;
  visibility: hidden;
  content: '';
  top: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #8bc8ef;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.headerMenuItem a {
  color: #555;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
.headerMenuItemActive:after,
.headerMenuItem:hover:after {
  opacity: 1;
  visibility: visible;
}
.headerContact {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerContactIcon {
  display: block;
  width: 29px;
  height: 29px;
  margin-right: 10px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAdCAQAAAD8mq+EAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCgQMOi+YICSQAAABgklEQVQ4y5XV3StDYRzA8e/OlrRWIjdyp13RJCEXJCMXUnazyW5ceLmbUnIjyZ2QXGDJpZdylBTKS2zLS1GkbP+AdrnYvJXydjG2Pefs5fG7Ouf7nM/T0+nUMTj5HSvrvNFJDGFUMo2SgH5qaWIU6VESsBQADyX/oUkI+YzL07IUCNCLVZZOCxBMTMjSRl3rplKOvuqagQE5ep+mRuToqa75mJKjx5pyQQdvcjRAWChBOQgKXywIxU2RLIVFHlOKhUl5+sSY0PpxyFJY4lqoK1TJ0g96eBcOfYRNjkKIIaEXc5ILmxJXXqrpE/A5bnbjNy4zM9Szx6Sa+HANzuTDeezQptl6mRE16spjn2YAwgyrG3oKZg5o0OAHVimnNaX48ahBLYUCDqnL+XI/mWdMS8HCNi05MfgUXXqhnTUJWmisSHecLZ6xY8wCIziUDEuz1HObBdrVOyXj8g01DGr/BUkI6Q78N99c4SWGDYseZqcA7+rZ5hyXRDFgxEiALjUUX/oB9EFejbHubwkAAAAASUVORK5CYII=');
}
.headerContactText {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.headerContactText span {
  color: #222;
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
}
.headerContactText em {
  color: #555;
  font-family: "PT Sans";
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: 10px;
  letter-spacing: 0.02em;
}

.headerBottom {
  height: 64px;
  background-color: #333745;
}
.headerBottomWrap {
  max-width: 1150px;
  margin: 0 auto;
  height: 64px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.headerCatalog {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-right: 40px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerCatalogIcon {
  display: block;
  margin-right: 13px;
  width: 19px;
  height: 15px;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAANCAQAAADhhZ2sAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCgQNBRKZVCiKAAAAzElEQVQY063PMStFcRzG8c9x/oXcF6JsShhkkslyF8odlTJdixLJIBms4h3IG7AZqWuhMN1yQrrxBmznZ3CTyxnu4Ds/Pc/zzWLEkRkvmm6xacVvWtbEaHzRDCHeo4rx5NmBKR3nYEtdEt9Nmcyddhb6YaCvlKRm1YIHhwq5umXDyh+juQvHYrp7cztELR4rFeaTezvmtJ3hw65FeY9Ccqn13wqDNsx6sqdAw5KhHoXStX0x1r25HiKPt0qFieTVqUkdVyidaPxZvFF8AkNQj4VwHw8dAAAAAElFTkSuQmCC');
}
.headerCatalogText {
  color: #fff;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}
.headerSearch {
  -webkit-box-flex: 2;
      -ms-flex: 2 2 auto;
          flex: 2 2 auto;
  position: relative;
  margin-right: 25px;
}
.headerSearchInput {
  width: 100%;
  background-color: #f1f1f1;
  border: 0;
  outline: 0;
  height: 50px;
  color: #777;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding: 0 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.headerSearchInput:focus {
  background-color: #fff;
}
.headerSearchButton {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  border: 0;
  outline: 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAQAAAAngNWGAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCgQNBR6Q4mShAAABkUlEQVQoz4XRT0jTYRzA4WdzLmypQ62DtwhHYI7qmh2aWhL9IYjq0GFBBO3SKZSiS5cmkVS3IqjAhC5FRBDUpUN2EKOM/hDVIMGGi5HpIWxWh99GSj/oc3nhfZ/35QtvZEC1ZtvskLbagg/GPDQJ+epxrLpmnNRfu6PTXidcN6xsGcwasgbvjCtqkLJFu9O6HDcdwMgAPW5rNee8m4oWkLTZoD7cks1XoK476bIN5mVdMWsR/FDwwFqd0j71voSoHhmcc8fyyk55i2ODjQHcI+qNG/7to1FssjWAaYz5Iqxn5jVIBTCJkt+hsOwbkgGsIC68evX4GcDPSGkMhR1a/QrGinqCjI0hLG6XmK9eBfC+soQzIW/usxuP8uMBnHQVfa5ZtwTFHDIkYcbZ2saiC9J2OmC9ERNKVujQb7+ViOvyvvbXtBt2EHw3q16bGGYkJMzK5Uep64Y590xp06JRs1Wiiu46asJ2TTKPC72vIwN/52rSLSWpYtoLz8ERFzUpyS2F4R12SYup6P9cfkROwdM/9oRoxPrsz9YAAAAASUVORK5CYII=');
  background-color: transparent;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
.headerAccount {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-right: 40px;
  text-decoration: none;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerAccountIcon {
  display: block;
  margin-right: 14px;
  width: 25px;
  height: 25px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAQAAABu4E3oAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCgQNBSa44Nw/AAABJElEQVQ4y5XSvyuFURzH8c9zlSt5ZEAWpKQsFuUulywyGCkGBmyGu/OHmKWMYpJMiuFOFoMMMt2Bq/zI1dOtp7fhXjnPc54f537OdM7p1bfz/R4ha5U54ZEaDxxRsu9tcICZkEoeWSCekNlscoad4yxS4COB1KLEQ0YGVVdSimr+bwqRqz4lxzc3UfKTQhrppK6XBPCkIJ2g0wQSP4s1eYLvWL/eGcmb/jqhAZqs5H8YMc9dG1Rd/tgyqwgxTolRhMcGi+mkzDUAN2wxyQBT7FAF4Io5m8xwSXbOmTbJGA3y88Uwoj2XinqVH197f3Px+XSoAfBKT6vKrvodakjSkDYl0cWzYw2Aezyx1gEAWBK3HZILj0BFx5e08uaxr211O4NAh78bE2tybbdywQAAAABJRU5ErkJggg==');
}
.headerAccountText {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.headerAccountText span {
  color: #fff;
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}
.headerAccountText em {
  color: #fff;
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
}
.headerCart {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-right: 10px;
  text-decoration: none;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerCartIcon {
  display: block;
  position: relative;
  margin-right: 14px;
  width: 28px;
  height: 28px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAYCAQAAABDlVUJAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfgCgQNBTU8Xp3hAAABJklEQVQ4y52TrU4DURCFv21LAqkpgmBqQO0j1BAcAgEJvEBfgIdogkSgEFgMdSVIDBJKgoAA4Td0GwIGWkKKICUHwZZl7y707p0Rc8U9c86czHjaYobv6FHlCNvQq6LYFLbpyccHYJEqHU4s+faiHnPKFJ4GPUp0rOcDcj+vLpduQDhwBR66AptZgJE5UOCNURfGPsduUjPZEwfa23NdsAT2eaBNQECLgDZXv80BeGISgJfw2yAf+TRaGVu/I2lbxeHXkTP6lADoDR8yLnWWfaDJxb+YBg1T6qrVRZ0LEXd1gzLTPNP6g2ucKbqsJ82p6EOStJJqiK93SVItac4CIwAsp/LNMwbAEpibcxfW21TgTVjvk1LzWtOZ6ppIleqpplPtqizEF9AzHiNVjaONAAAAAElFTkSuQmCC');
}
.headerCartIconBadge {
  display: block;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ea2e49;
}
.headerCartIconBadgeText {
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  color: #fff;
  font-family: "PT Sans";
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
}
.headerCartText {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.headerCartText span {
  color: #fff;
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}
.headerCartText em {
  color: #fff;
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  max-height: 350px;
  height: 350px;
  background-color: #333745;
}
.footerWrap {
  max-width: 1150px;
  margin: 0 auto;
  padding: 30px 0;
}
.footerCurrency {
  display: block;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.footerGrid {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footerColumn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(99.9% * 1/5 - (30px - 30px * 1/5));
}
.footerColumn:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0;
}
.footerColumn:last-child {
  margin-right: 0;
}
.footerColumn:nth-child(5n) {
  margin-right: 0;
  margin-left: auto;
}
.footerLogo {
  display: block;
  margin-bottom: 30px;
}
.footerText {
  display: block;
}
.footerText p {
  color: #fff;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 10px;
}
.footerMenu {
  display: block;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footerMenuHeader {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
  padding: 0 10px 0 0;
  margin-bottom: 10px;
  border-bottom: 2px solid #8bc8ef;
}
.footerMenuItem {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footerMenuItem a {
  color: #fff;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footerMenuItem a:hover {
  text-decoration: underline;
}
.footerMenuItem:before {
  display: block;
  content: '';
  margin-right: 8px;
  width: 3px;
  height: 3px;
  background-color: #fff;
}
.footerPhone {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footerPhone h2 {
  color: #fff;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 10px;
}
.footerPhone span {
  color: #fff;
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
}
.footerPhone em {
  color: #fff;
  font-family: "PT Sans";
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: 10px;
  letter-spacing: 0.02em;
}

/*# sourceMappingURL=blocks.css.map */
