@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BebasNeueRegular.woff") format('woff2');
}
@font-face {
  font-family: 'Muller-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Muller/Muller-Regular.otf");
}
@font-face {
  font-family: 'Muller-Medium';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Muller/Muller-Medium.otf");
}
@font-face {
  font-family: 'Muller-Bold';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Muller/Muller-Bold.otf");
}
@font-face {
  font-family: 'Muller-Black';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Muller/Muller-Black.otf");
}
@font-face {
  font-family: 'Muller-Light';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Muller/Muller-UltraLight.otf");
}
