.inputFill
    flex 0 1 auto
    padding 0 12px
    border 0
    outline 0
    width 280px
    height 40px
    background-color #f4f4f4
    border 1px solid #f1f1f1
    color #6c6c6a
.inputFillSmall
    width 110px

.input
    flex 0 1 auto
    width 100%
    padding 0 12px
    border 0
    outline 0
    height 40px
    background-color transparent
    color #6c6c6a
    border 1px solid #f1f1f1
