footer.footer
    .footerWrap
        .footerCurrency
            | Цены и наличие товара действительны на 30.05.2016 12:05
        .footerGrid
            .footerColumn
                .footerLogo
                    a(href="#")
                        img(src="img/logo.png")
                .footerText
                    p г. Тюмень, ул. Первомайская 8, офис 308 тел.: +7 (3452) 398-711 ежедневно с 10:00 до 20:00 order@6fox.ru
            .footerColumn
                .footerMenu
                    .footerMenuHeader
                        | 6fox.RU
                    .footerMenuItems
                        .footerMenuItem
                            a(href="#") О компании
                        .footerMenuItem
                            a(href="#") Преимущества
                        .footerMenuItem
                            a(href="#") Новости
                        .footerMenuItem
                            a(href="#") Вакансии
                        .footerMenuItem
                            a(href="#") Юридические реквизиты
                        .footerMenuItem
                            a(href="#") Контакты
            .footerColumn
                .footerMenu
                    .footerMenuHeader
                        | Услуги
                    .footerMenuItems
                        .footerMenuItem
                            a(href="#") Доставка  
                        .footerMenuItem
                            a(href="#") Самовывоз
                        .footerMenuItem
                            a(href="#") Сервисный центр
            .footerColumn
                .footerText
                    p Банк партнер ПАО Сбербанк
                    p Мы принимаем:
                    img(src="img/card.png")

            .footerColumn
                .footerPhone
                    h2 ОСТАЛИСЬ ВОПРОСЫ?
                    span 8-800-0000-000
                    em (звонок по России бесплатный)
