header.header
    .headerTop
        .headerLeft
            .headerLogo
                a(href="#")
                    img(src="img/logo.png" alt="logo")
            .headerLocation
                span Город:
                button.buttonLocation Тюмень
        .headerRight
            .headerMenu
                .headerMenuItems
                    .headerMenuItem.headerMenuItemActive
                        a(href="#") Новости
                    .headerMenuItem
                        a(href="#") Заказы
                    .headerMenuItem
                        a(href="#") Финансы
            .headerContact
                .headerContactIcon
                .headerContactText
                    span 8-800-0000-000
                    em (звонок по России бесплатный)
    .headerBottom
        .headerBottomWrap
            .headerCatalog
                .headerCatalogIcon
                .headerCatalogText Каталог товаров
            .headerSearch
                input.headerSearchInput(placeholder="Поиск")
                button.headerSearchButton
            a(href="#").headerAccount
                .headerAccountIcon
                .headerAccountText
                    span Кабинет
                    em войти на сайт
            a(href="#").headerCart
                .headerCartIcon
                    .headerCartIconBadge
                        .headerCartIconBadgeText 33
                .headerCartText
                    span Корзина
                    em 49 999 Р
