.accountBonus
    display block
    border 1px solid #f1f1f1
    padding 20px

.accountBonusHeader
    display block
    margin-bottom 20px
    h1
        color #6c6c6a
        font-family "PT Sans"
        font-size 24px
        font-weight 400
        line-height 28px

.accountBonusTotal
    display block
    margin-bottom 5px
    font-family "PT Sans"
    font-size 16px
    font-style italic
    line-height 20px
    color #6c6c6a

.accountBonusCode
    display block
    margin-bottom 40px
    font-family "PT Sans"
    font-size 16px
    font-style italic
    line-height 20px
    color #8bc8ef

.accountBonusHistory
    display block
.accountBonusHistoryHeader
    display block
    margin-bottom 20px
    h2
        color #6c6c6a
        font-family "PT Sans"
        font-size 18px
        font-weight 400
        line-height 28px

.accountBonusHistoryFilter
    display block
    margin-bottom 40px
    font-family "PT Sans"
    font-size 14px
    font-weight 400
    line-height 28px
.accountBonusHistoryTable
    width 100%
.accountBonusHistoryTableColumn
    color #6c6c6a
    font-family "PT Sans"
    font-size 16px
    font-weight 400
    line-height 28px
