.accountHistory
    display block
.accountHistoryText
    display block
    background-color #f1f1f1
    padding 13px
    margin-bottom 15px
    p
        color #333
        font-family "PT Sans"
        font-size 12px
        font-weight 400
        line-height 16px

.accountHistoryHeader
    display block
    margin-bottom 20px
    box horizontal middle
    h2
        margin-right 20px
        color #6c6c6a
        font-family "PT Sans"
        font-size 24px
        font-weight 400
        line-height 28px

.accountHistoryTable
    width 100%

.accountHistoryTableHeader
    td
        color #333
        font-family "PT Sans"
        font-size 14px
        line-height 16px
        vertical-align top
        font-weight 700
        white-space nowrap
        padding 0 10px 10px 0
.accountHistoryTableBody
    td
        vertical-align top
        color #333
        font-family "PT Sans"
        font-size 14px
        font-weight 400
        padding 0 10px 10px 0
.accountHistoryTableNoWrap
    white-space nowrap
