.accountForm
    display block
    border 1px solid #f1f1f1
    padding 20px
    

.accountFormBlock
    display block
    border-bottom 1px solid #f1f1f1
    margin-bottom 30px
    padding-bottom 3px
    &:last-child
        border-bottom 0
        margin-bottom 0
.accountFormRow
    box horizontal top
.accountFormHorizontal
    box horizontal top
    .accountFormItem
        margin-right 30px
.accountFormHalf
    lost-column 1/2
.accountFormItem
    flex 0 1 auto
    margin-bottom 17px


.accountFormItemLink
    position relative
    color #8bc8ef
    font-family "PT Sans"
    font-size 14px
    font-weight 400
    line-height 28px
    margin-left 13px
    text-decoration none
    &:after
        content ''
        position absolute
        width 100%
        left 0
        bottom 0
        border-bottom 1px dotted #8bc8ef
        transition all .2s
    &:hover
        &:after
            opacity 0

.accountFormItemText
    display block
    margin-bottom 14px
    color #6c6c6a
    font-family "PT Sans"
    font-size 16px
    font-style italic
    line-height 20px
