.accountMenu
    display block
    box vertical
    border 1px solid #f1f1f1
    border-bottom 0
.accountMenuItem
    box horizontal middle
    a
        flex 1 1 auto
        font-family "PT Sans"
        font-size 14px
        line-height 14px
        font-weight 400
        padding 20px 15px
        text-decoration none
        border-bottom 1px solid #f1f1f1
        color #333
        transition all .3s
    &Active,
    &:hover
        a
            background-color #8bc8ef
            color #fff
