.accountPartner
    display block

.accountPartnerSearch
    display block
    margin-bottom 13px
    input
        margin-right 13px
        width 280px
.accountPartnerFormAdd
    display block
    border 1px solid #f1f1f1
    padding 20px

.accountPartnerFormHeader
    display block
    margin-bottom 15px
    h2
        color #6c6c6a
        font-family "PT Sans"
        font-size 24px
        font-weight 400
        line-height 28px
    h3
        color #6c6c6a
        font-family "PT Sans"
        font-size 18px
        font-weight 400
        line-height 28px

.accountPartnerFormBlock
    display block
    margin-bottom 25px
    box horizontal

.accountPartnerFormHalf
    lost-column 1/2 flex

.accountPartnerFormItem
    flex 0 1 auto
    width 100%
    margin-bottom 10px

.accountPartnerFormThridItems
    flex 0 1 auto
    box horizonta middle
    width 100%
    margin-bottom 10px
    .accountPartnerFormItem
        lost-column 1/3 flex
