.footer
    flex 0 1 auto
    max-height 350px
    height 350px
    background-color #333745
.footerWrap
    max-width 1150px
    margin 0 auto
    padding 30px 0
.footerCurrency
    display block
    margin-bottom 40px
    text-align center
    color #fff
    font-family "PT Sans"
    font-size 14px
    font-weight 400
    line-height 28px

.footerGrid
    box horizontal
.footerColumn
    lost-column 1/5 flex
.footerLogo
    display block
    margin-bottom 30px
.footerText
    display block
    p
        color #fff
        font-family "PT Sans"
        font-size 14px
        font-weight 400
        line-height 18px
        margin-bottom 10px
.footerMenu
    display block
    box vertical top left
.footerMenuHeader
    display inline-flex
    color #fff
    font-family "PT Sans"
    font-size 16px
    font-weight 400
    line-height 34px
    text-transform uppercase
    padding 0 10px 0 0
    margin-bottom 10px
    border-bottom 2px solid #8bc8ef
.footerMenuItem
    flex 0 1 auto
    box horizontal middle
    a
        color #fff
        font-family "PT Sans"
        font-size 13px
        font-weight 400
        line-height 28px
        text-decoration none
        transition all .3s
        &:hover
            text-decoration underline
    &:before
        display block
        content ''
        margin-right 8px
        size 3px
        background-color #fff

.footerPhone
    box vertical top center
    h2
        color #fff
        font-family "PT Sans"
        font-size 18px
        font-weight 400
        line-height 28px
        margin-bottom 10px
    span
        color #fff
        font-family "PT Sans"
        font-size 20px
        font-weight 400
        line-height 18px
    em
        color #fff
        font-family "PT Sans"
        font-size 10px
        font-weight 400
        font-style normal
        line-height 10px
        letter-spacing 0.02em
