extends _layout

block content
    .topString
        .breadcrumbs
            .breadcrumb
                a(href="#") Главная
            .breadcrumb
                | Личный кабинет
        .currencies
            .currency
                .currencyName
                    | Курс ЦБ сегодня:
                .currencyValue
                    | $65.1258
            .currency
                .currencyName
                    | Завтра (26.05.2016):
                .currencyValue
                    | $65.1577

    .account
        .accountSidebar
            .accountMenu
                .accountMenuItem.accountMenuItemActive
                    a(href="#") Профиль
                .accountMenuItem
                    a(href="#") История заказов
                .accountMenuItem
                    a(href="#") Контрагенты
                .accountMenuItem
                    a(href="#") Бонусная система
        .accountContent
            form.accountForm
                .accountFormBlock
                    .accountFormItem
                        label.label
                            | Email
                            span *
                        input.inputFill(type="text" placeholder="hello@damin.ry")
                    .accountFormItem
                        label.label
                            | Пароль
                        input.inputFill(type="password")
                        a.accountFormItemLink(href="#") Изменить пароль
                .accountFormBlock
                    .accountFormRow
                        .accountFormHalf
                            .accountFormItem
                                label.label
                                    | ФИО
                                input.inputFill(type="text" placeholder="Иванов Иван Иванович")
                            .accountFormItem
                                label.label
                                    | Мобильный телефон
                                    span *
                                input.inputFill(type="text" placeholder="")
                            .accountFormItem
                                .accountFormItemText Код покупателя: FHefu54
                                button.buttonBlue(type="submit") Сохранить
                        .accountFormHalf
                            .accountFormHorizontal
                                .accountFormItem
                                    label.label
                                        | Пол
                                    select.selectFill.selectFillSmall
                                        option Мужской
                                        option Женский

                                .accountFormItem
                                    label.label
                                        | Дата рождения
                                    input.inputFill.inputFillSmall(type="text" placeholder="31.10.1982")
                    .accountFormRow
                        .accountFormItem
                            .accountFormItemText Получать информацию о скидках, новинках и выгодных предложениях:
                            label.labelCheckbox
                                input.checkbox(type="checkbox")
                                | SMS
                            label.labelCheckbox
                                input.checkbox(type="checkbox")
                                | E-mail
