extends _layout

block content
    .topString
        .breadcrumbs
            .breadcrumb
                a(href="#") Главная
            .breadcrumb
                | Личный кабинет
        .currencies
            .currency
                .currencyName
                    | Курс ЦБ сегодня:
                .currencyValue
                    | $65.1258
            .currency
                .currencyName
                    | Завтра (26.05.2016):
                .currencyValue
                    | $65.1577
    .account
        .accountSidebar
            .accountMenu
                .accountMenuItem.accountMenuItemActive
                    a(href="#") Профиль
                .accountMenuItem
                    a(href="#") История заказов
                .accountMenuItem
                    a(href="#") Контрагенты
                .accountMenuItem
                    a(href="#") Бонусная система
        .accountContent
            .accountBonus
                .accountBonusHeader 
                    h1 Бонусная система
                .accountBonusTotal
                    | Всего по Вашей ссылке было совершено 192 покупки, начислено 20 993 бонусов.
                .accountBonusCode
                    | Ваш код покупателя: FHefu54
                .accountBonusHistory
                    .accountBonusHistoryHeader
                        h2 История начислений
                    .accountBonusHistoryFilter
                        | Отображать начисления только с 12.02.2016 по 21.04.2016
                    table.accountBonusHistoryTable
                        - for (var i = 0; i < 10; i++) {
                            tr.accountBonusHistoryTableRow
                                td.accountBonusHistoryTableColumn
                                    | Васечкин Иван Герасимович
                                td.accountBonusHistoryTableColumn
                                    | 20.03.2016 в 11:23
                                td.accountBonusHistoryTableColumn
                                    | Одобрено
                                td.accountBonusHistoryTableColumn
                                    | + 2 000 бонусов
                        - }
