extends _layout

block content
    .topString
        .breadcrumbs
            .breadcrumb
                a(href="#") Главная
            .breadcrumb
                | Личный кабинет
        .currencies
            .currency
                .currencyName
                    | Курс ЦБ сегодня:
                .currencyValue
                    | $65.1258
            .currency
                .currencyName
                    | Завтра (26.05.2016):
                .currencyValue
                    | $65.1577
    .account
        .accountSidebar
            .accountMenu
                .accountMenuItem.accountMenuItemActive
                    a(href="#") Профиль
                .accountMenuItem
                    a(href="#") История заказов
                .accountMenuItem
                    a(href="#") Контрагенты
                .accountMenuItem
                    a(href="#") Бонусная система
        .accountContent
            .accountHistory
                .accountHistoryText
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                .accountHistoryHeader
                    h2 История заказов
                    button.buttonOutline
                        .buttonOutlineIcon
                            .buttonOutlineIconPlus
                        .buttonOutlineText
                            | Новый заказ
                table.accountHistoryTable
                    thead.accountHistoryTableHeader
                        tr
                            td Номер <br>заказа
                            td Дата заказа
                            td Контрагент
                            td Сумма, Р
                            td Сумма, $
                            td Оплата
                            td Статус
                            td Счет
                            td Комментарий <br>(для себя)
                            td Документы
                    tbody.accountHistoryTableBody
                        tr
                            td.accountHistoryTableNoWrap 124
                            td.accountHistoryTableNoWrap 26.12.2016
                            td.accountHistoryTableNoWrap ООО “Рога и копыта”
                            td.accountHistoryTableNoWrap 287 520 Р
                            td.accountHistoryTableNoWrap 4 500 $
                            td
                                .iconCheck
                            td В пути, ожидается в Тюмени 5.07.2016
                            td
                                button.buttonDottedItalic Скачать
                            td Ноутбуки для отдела продаж
                            td 
                                button.buttonDottedItalic Скачать документы
                        tr
                            td.accountHistoryTableNoWrap 124
                            td.accountHistoryTableNoWrap 26.12.2016
                            td.accountHistoryTableNoWrap ООО “Рога и копыта”
                            td.accountHistoryTableNoWrap 287 520 Р
                            td.accountHistoryTableNoWrap 4 500 $
                            td
                                .iconCheck
                            td В пути, ожидается в Тюмени 5.07.2016
                            td
                                button.buttonDottedItalic Скачать
                            td Ноутбуки для отдела продаж
                            td 
                                button.buttonDottedItalic Скачать документы
