extends _layout

block content
    .topString
        .breadcrumbs
            .breadcrumb
                a(href="#") Главная
            .breadcrumb
                | Личный кабинет
        .currencies
            .currency
                .currencyName
                    | Курс ЦБ сегодня:
                .currencyValue
                    | $65.1258
            .currency
                .currencyName
                    | Завтра (26.05.2016):
                .currencyValue
                    | $65.1577

    .account
        .accountSidebar
            .accountMenu
                .accountMenuItem.accountMenuItemActive
                    a(href="#") Профиль
                .accountMenuItem
                    a(href="#") История заказов
                .accountMenuItem
                    a(href="#") Контрагенты
                .accountMenuItem
                    a(href="#") Бонусная система
        .accountContent
            .accountPartner
                .accountPartnerSearch
                    input.accountPartnerSearchInput.input(type="text" placeholder="Введите ИНН организации")
                    button.buttonBlue Заполнить автоматически
                form.accountPartnerFormAdd
                    .accountPartnerFormHeader
                        h2 Добавить реквизиты
                    .accountPartnerFormBlock
                        .accountPartnerFormHalf
                            .accountPartnerFormItem
                                label.label Полное название организации*
                                input.input(type="text" placeholder="")
                            .accountPartnerFormItem
                                label.label ИНН*
                                input.input(type="text" placeholder="")
                            .accountPartnerFormItem
                                label.label Телефон
                                input.input(type="text" placeholder="")
                        .accountPartnerFormHalf
                            .accountPartnerFormItem
                                label.label ФИО руководителя организации
                                input.input(type="text" placeholder="")
                            .accountPartnerFormItem
                                label.label КПП*
                                input.input(type="text" placeholder="")
                            .accountPartnerFormItem
                                label.label Факс
                                input.input(type="text" placeholder="")
                    .accountPartnerFormHeader
                        h3 Юридический адрес
                    .accountPartnerFormBlock
                        .accountPartnerFormHalf
                            .accountPartnerFormItem
                                label.label Область
                                input.input(type="text" placeholder="")
                            .accountPartnerFormItem
                                label.label Улица
                                input.input(type="text" placeholder="")
                        .accountPartnerFormHalf
                            .accountPartnerFormItem
                                label.label Город
                                input.input(type="text" placeholder="")
                            .accountPartnerFormThridItems
                                .accountPartnerFormItem
                                    label.label Дом
                                    input.input(type="text" placeholder="")
                                .accountPartnerFormItem
                                    label.label Корпус
                                    input.input(type="text" placeholder="")
                                .accountPartnerFormItem
                                    label.label Офис
                                    input.input(type="text" placeholder="")
                    .accountPartnerFormBlock
                        .accountPartnerFormItem
                            label.labelCheckboxItalic
                                input(type="checkbox")
                                span Совпадает с юридическим адресом
                    .accountPartnerFormHeader
                        h3 Реквизиты банка
                    .accountPartnerFormBlock
                        .accountPartnerFormHalf
                            .accountPartnerFormItem
                                label.label Наименование банка
                                input.input(type="text" placeholder="")
                        .accountPartnerFormHalf
                            .accountPartnerFormItem
                                label.label Адрес банка
                                input.input(type="text" placeholder="")
                    .accountPartnerFormBlock
                        .accountPartnerFormHalf
                            .accountPartnerFormItem
                                label.label БИК
                                input.input(type="text" placeholder="")
                            .accountPartnerFormItem
                                label.label Расчетный счет
                                input.input(type="text" placeholder="")
                        .accountPartnerFormHalf
                            .accountPartnerFormItem
                                label.label ОКПО
                                input.input(type="text" placeholder="")
                            .accountPartnerFormItem
                                label.label Корр. счет
                                input.input(type="text" placeholder="")
                    .accountPartnerFormBlock
                        .accountPartnerFormItem
                            label.labelCheckboxItalic
                                input(type="checkbox")
                                span Реквизиты по умолчанию
                    .accountPartnerFormBlock
                        .accountPartnerFormItem
                            button.buttonBlue Сохранить изменения
