extends _layout

block content
    .topString
        .breadcrumbs
            .breadcrumb
                a(href="#") Главная
            .breadcrumb
                | Личный кабинет
        .currencies
            .currency
                .currencyName
                    | Курс ЦБ сегодня:
                .currencyValue
                    | $65.1258
            .currency
                .currencyName
                    | Завтра (26.05.2016):
                .currencyValue
                    | $65.1577
