.buttonBlue
    display inline-block
    display inline-flex
    border 0
    outline 0
    height 38px
    padding 0 40px
    background-color #8bc8ef
    border-radius 5px
    color #fff
    font-family "PT Sans"
    font-size 18px
    font-style italic
    line-height 20px
    cursor pointer
    transition all .3s
    &:hover
        background-color darken(#8bc8ef, 20%)

.buttonOutline
    display inline-block
    display inline-flex
    height 34px
    border 1px solid #f1f1f1
    outline 0
    background-color transparent
    padding 0 13px
    box horizontal middle
    &Text
        flex 0 1 auto
        color #6c6c6a
        font-family "PT Sans"
        font-size 18px
        font-weight 400
        line-height 18px
        padding-top 3px
    &Icon
        flex 0 1 auto
        margin-right 6px
    &IconPlus
        size 18px
        border 1px solid #6c6c6a
        border-radius 50%
        position relative
        &:before
            content ''
            background-color #6c6c6a
            size 1px 9px
            left center
            top center
        &:after
            content ''
            background-color #6c6c6a
            size 9px 1px
            left center
            top center

.buttonDottedItalic
    display inline-block
    display inline-flex
    border 0
    outline 0
    border-bottom 1px dotted #333
    background-color transparent
    white-space nowrap
    padding 0
    color #333
    font-family "PT Serif"
    font-size 14px
    font-style italic
    line-height 12px

.buttonDotted
    display inline-block
    display inline-flex
    border 0
    outline 0
    border-bottom 1px dotted #333
    background-color transparent
    white-space nowrap
    padding 0
    color #333
    font-family "PT Serif"
    font-size 14px
    line-height 12px


.buttonLocation
    display inline-block
    display inline-flex
    position relative
    border 0
    outline 0
    cursor pointer
    background-color transparent
    white-space nowrap
    padding 0
    color #555
    font-family "PT Sans"
    font-size 14px
    &:after
        content ''
        position absolute
        bottom 2px
        size calc(100% - 1px) 1px
        left 1px
        border-bottom 1px dotted #333
        transition all .3s
    &:hover
        &:after
            width 0
