.currency
    display block
    box horizontal middle right
    color #777
    font-family "PT Sans"
    font-size 12px
    font-weight 400
    line-height 13px
    &Name
        flex 0 1 auto
        width 120px
